# =========================
# Opus Music Bot Config
# =========================

# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on Telegram
BOT_TOKEN=
LOGGER_ID=

# MongoDB URL from cloud.mongodb.com
MONGO_URL=

# Telegram Owner ID
OWNER_ID=

# Pyrogram session from @StringFatherBot
SESSION=
