# =========================
# Opus Music Bot Config
# =========================

# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on Telegram
BOT_TOKEN=
LOGGER_ID=

# MongoDB URL from cloud.mongodb.com
MONGO_URL=

# Telegram Owner ID
OWNER_ID=5101317729,7185778863,8020635036,8221509070,8448705568

# Pyrogram session from @StringFatherBot
SESSION=

# Direct Video Url
START_VIDEO=https://files.catbox.moe/ifnfwn.mp4 https://files.catbox.moe/mssouf.mp4 https://files.catbox.moe/s5fguv.mp4 https://files.catbox.moe/zpeam5.mp4 https://files.catbox.moe/ay7cd1.mp4
